---
import TheHeader from '@/components/TheHeader.vue'
import TheFooter from '@/components/TheFooter.vue'
interface Props {
  title: string
}

const { title } = Astro.props
const metaDescription = 'Learn about Great Houses of Westeros and Essos'
---

<!doctype html>
<html
  lang="en"
  class="h-full bg-surface dark:bg-surface-dark text-on-surface dark:text-on-surface-dark font-display"
>
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={metaDescription} />
    <meta name="viewport" content="width=device-width,initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700;900&display=swap"
      rel="stylesheet"
    />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body class="flex flex-col h-full">
    <header class="flex-grow-0 flex-shrink-0">
      <slot name="header">
        <TheHeader />
      </slot>
    </header>
    <main class="flex-grow flex-shrink-0 flex flex-col">
      <slot />
    </main>
    <footer class="flex-grow-0 flex-shrink-0">
      <slot name="footer">
        <TheFooter />
      </slot>
    </footer>
  </body>
</html>
